.nav {
   display: inline-block;
   width: 100%;
   position: relative;
}

.teamMain, .playersMain {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 6%;
    padding: 0.6em;
    clear: both;
    margin: 0;
}

.app {
    padding: 1.5%;
}

.teamMain {
  float: right;
  margin-bottom: 1em;
}

.teamMain:hover, .playersMain:hover {
  color: #fff;
  background-color: orange;
}
